.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.regestration-form
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 50%;
  border: 2px solid black;
  padding: 30px;
  }
input{
  border-radius: 4px;
  height: 50px;
  outline: none;
  font-size: large;
  border: none;
  border-bottom: 2px solid black;
  text-transform: uppercase;
  margin-top: 20px;

}
button{
  margin-top: 10px;
  cursor: pointer;
  font-size: large;
  height: 50px;
  background-color: transparent;
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
